<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.api.mapper.FileMapper">
	<insert id="insertFile" parameterType="com.shop.api.dao.dto.Attach">
		insert into board_attach (
			board_type,
			board_id,
			file_num,
			file_name,
			saved_file_name,
			file_size
		) values (
			#{board_type},
			#{board_id},
			nextval('seq_file_num'),
			#{file_name},
			#{saved_file_name},
			#{file_size}
		)
	</insert>

</mapper>