<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.api.mapper.FileMapper">
	<insert id="insertFile" parameterType="com.shop.api.dao.dto.Attach">
		insert into board_attach (
			board_type,
			board_id,
			file_num,
			file_name,
			saved_file_name,
			file_size
		) values (
			#{board_type},
			#{board_id},
			nextval('seq_file_num'),
			#{file_name},
			#{saved_file_name},
			#{file_size}
		)
	</insert>
	
	<select id="selectFile" parameterType="com.shop.api.dao.dto.NoticeNum" resultType="com.shop.api.dao.dto.Attach">
		select * from board_attach
		where board_id = #{nb_num}
	</select>
	
	<update id="editFile" parameterType="com.shop.api.dao.dto.Attach">
		update board_attach
		set 
		file_name=#{file_name}, 
		saved_file_name=#{saved_file_name}, 
		file_size=#{file_size}
		where board_id=#{board_id} and board_type=#{board_type}
	</update>
	
	<delete id="deleteFile" parameterType="com.shop.api.dao.dto.NoticeNum">
		delete from board_attach
		where board_id = #{nb_num}
	</delete>
</mapper>